<script>

  $(function() {
    $('.moveable').draggable({ 
        snap: 'td',
        cursor: 'move',
        snapTolerance: 20,
        containment: 'document'
      });
    $('td').droppable({
        tolerance: 'fit',
        drop: function(event, ui) {
          let pieceId = ui.draggable[0].id;
          $.ajax({
            type: 'PUT',
            url: `/pieces/${ui.draggable[0].id}`,
            dataType: 'json',
            data: {
              piece: {
                x_coordinate: $(this).attr('data-x-coord'),
                y_coordinate: $(this).attr('data-y-coord')
              },
            },
            success: function() {
              console.log('this move was successful');
            },
            error: function() {
              console.log(`There was an error with your piece move.`)
            }
          });
        }  
      });    
      
    });
</script>


<% if @game.present? %>
  <div class="GameHeader">
    <%= @game.name %>
  </div>

  <div class="GameSubHeader">
    <div class="WhitePlayerName">
      <%= @game.white_player_id %>
    </div>
<% end %>

  <div class="BlackPlayerName">
    <% if @game.black_player_id.present? %>
      <%= @game.black_player_id %>
    <% else %>
      <p> Waiting for Player... </p>
    <% end %>
  </div>
</div>

<body>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  <div class="castling">
    <% queen_side = @pieces.where(type: "Rook", user_id: current_user.id, x_coordinate: 1).first %>
    <% king_side = @pieces.where(type: "Rook", user_id: current_user.id, x_coordinate: 8).first %>
    <% if !queen_side.nil? || !king_side.nil? %>
      <h2>You can castle. </h2>
      <h4>Here are your possible options</h4>
      <% if !queen_side.nil? %>
        <button>Your Queenside <%= queen_side.type %></button>
      <% end %>
      <br />
      <% if !king_side.nil? %>
        <button>Your Kingside <%= king_side.type %></button>
      <% end %>
    <% else %>
      <h2>You can't castle yet!</h2>
    <% end %>
  </div>

  <div class="chessboard col-6">
    <table>
      <tbody>
        <div class="square">
          <% (1..8).each do |y_coord| %>
            <tr id = <%= y_coord %>>
              <% (1..8).each do |x_coord| %>
                <td data-x-coord= <%= x_coord %> data-y-coord= <%= y_coord %> class= <%= "#{(y_coord % 2 == x_coord % 2 ? "white-square droppable-square" : "black-square droppable-square")}" %> >
                  <% if boardpiece = @pieces.where("(x_coordinate = ? AND y_coordinate = ?)", x_coord, y_coord).first %>
                    <span class= '<%= boardpiece.type %> moveable', id='<%= boardpiece.id %>' data="<%=boardpiece.color_white%>, <%= boardpiece.user_id %>, <%= @game.black_player_id %>">
                      <%= image_tag boardpiece.image %>
                      <%# <%= link_to boardpiece.type, piece_path(boardpiece) %> 
                    </span>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </div>
      </tbody>
    </table>
  </div>

</body>
