<% if @game.present? %>
  <div class="GameHeader">
    <%= @game.name %>
  </div>

  <div class="GameSubHeader">
    <div class="WhitePlayerName">
      <%= @game.white_player_id %>
    </div>
<% end %>

  <div class="BlackPlayerName">
    <% if @game.black_player_id.present? %>
      <%= @game.black_player_id %>
    <% else %>
      <p> Waiting for Player... </p>
    <% end %>
  </div>
</div>

<body>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

<div class="chessboard col-6">
  <table>
    <tbody>
      <% (1..8).each do |y_coord| %>
        <tr id = <%= y_coord %>>
          <% (1..8).each do |x_coord| %>
            <td data-x-coord = <%= x_coord %> data-y-coord = <%= y_coord %> class = <%= "#{(y_coord % 2 == x_coord % 2 ? "white-square droppable-square" : "black-square droppable-square")}" %> >
              <% if @game.render_piece(x_coord, y_coord).present? %>                
                <%= link_to @game.render_piece(x_coord, y_coord)[0].type, game_piece_path(@pieces) %>                
              <% end %>
            </td>
          <% end %>
<<<<<<< Updated upstream
        </tr>
      <% end %>
    </tbody>
  </table>
<%= link_to 'Hello', game_piece_path %>
<br />
<br />
</div>
=======
        </div>
      </tbody>
    </table>
  </div>
  <br />
  <br />
  <div>
     <% if @game.black_player_id.present? && @game.white_player_id.present? %>
        <%= simple_form_for @game, url: forfeit_game_path(@game) do |f| %>
          <% if current_user.id == @game.white_player_id %>
            <%= f.input :winning_user_id, as: :hidden, :input_html => { :value => @game.black_player_id } %>
          <% else %>
            <%= f.input :winning_user_id, as: :hidden, :input_html => { :value => @game.white_player_id } %>
          <% end %>
          <span class="float-right"><%= f.submit "Forfeit", class: "forfeit btn btn-danger btn-lg" %></span>
        <% end %>
      <% end %>
  </div>
</body>
>>>>>>> Stashed changes


</body>
