<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 d-none d-md-block sidebar">
      <div class="sidebar-sticky pt-5">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item d-flex list-group-item-action justify-content-center align-items-center" id="list-overview-list" data-toggle="list" href="#list-overview" role="tab" aria-controls="overview">
            <h6 class="text-center">Hi <%= current_user.username %></h6>
          </a>
          <br/>
          <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center" id="list-current-list" data-toggle="list" href="#list-current" role="tab" aria-controls="current">
            Currently Playing
            <span class="badge badge-secondary badge-pill"><%= in_progress_games.count %></span>
          </a>
          <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center active" id="list-played-list" data-toggle="list" href="#list-played" role="tab" aria-controls="played">
            Games Played
            <span class="badge badge-secondary badge-pill"><%= current_user.games.count %></span>
          </a>
          <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center" id="list-open-list" data-toggle="list" href="#list-open" role="tab" aria-controls="open">
            Games Open
            <span class="badge badge-secondary badge-pill"><%= open_games.count %></span>
          </a>
          <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center" id="list-won-list" data-toggle="list" href="#list-won"  role="tab" aria-controls="won">
            Games Won
            <span class="badge badge-secondary badge-pill"><%= won_games.count %></span>
          </a>
          <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center" id="list-lost-list" data-toggle="list" href="#list-lost"  role="tab" aria-controls="lost">
            Game Lost
            <span class="badge badge-secondary badge-pill"><%= lost_games.count %></span>
          </a>
          <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center" id="list-forfeited-list" data-toggle="list" href="#list-forfeited" role="tab" aria-controls="forfeited">
            Game Forfeited
            <span class="badge badge-secondary badge-pill"><%= forfeited_games.count %></span>
          </a>
        </div>
      </div>
    </nav>
      <!-- end of sidebar -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4 mt-5">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-overview" role="tabpanel" aria-labelledby="list-overview-list">
            <h3>Hi <%= current_user.username %></h3>
            <h5>Your Overview:</h5>
            <br />
            <!---- this is list for overview chart / list of open games-->
            <div class="row align-items-center mb-5">
              <!---- this is doughnut chart for all played games-->  
              <div class="col-6 mx-2 align-self-start">
                <div class="card bg-light border d-flex align-items-stretch">
                  <div class="card-body px-0 pt-0">
                    <h6 class="card-title text-center pt-3">All Games</h6>
                    <canvas id="doughnut-chart"></canvas>
                  </div>
                </div>
              </div>
            <!---- list of in progress games-->
              <div class="col-5 p-0 align-self-start">
                <div class="card bg-light border">
                  <div class="card-body p-0">
                    <h6 class="card-title text-center pt-3">Currently Playing Games</h6>
                    <% if in_progress_games.exists? %>
                      <ul class="list-group align-self-start">
                        <% in_progress_games.each do |game| %>
                          <li class="list-group-item border-top rounded-0">
                            <div class="row">
                              <p class="col-8 my-auto dashboard-list-text">You are currently playing <%= game_opponent(game).username %></p>
                              <%= link_to "Resume Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    <% else %>
                      <h6 class="text-center mt-5 p-3">You don't have any current games playing</h6>
                      <%= link_to "Find an Open Game", games_path, class: "dashboard-list-item" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          <!---- this is list for games won lost/forfeited played games-->
            <div class="row align-items-center mt-4"> 
            <!---- this is list for games won -->
              <div class="col-6 mx-2 align-self-start">
                <div class="card bg-light border d-flex align-items-stretch">
                  <div class="card-body p-0">
                    <h6 class="card-title text-center pt-3">Games Won</h6>
                    <% if won_games.exists? %>
                      <ul class="list-group align-self-start">
                        <% won_games.each do |game| %>
                          <li class="list-group-item border-top rounded-0">
                            <div class="row">
                              <p class="col-8 my-auto dashboard-list-text">You beat <%= game_opponent(game).username %> on <%= game.updated_at.strftime("%B, %Y") %></p>
                              <%= link_to "See Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    <% else %>
                      <h6 class="text-center mt-1 p-3">You haven't won a game yet</h6>
                    <% end %>
                  </div>
                </div>
              </div>
            <!---- this is list for games lost/forfeited -->
              <div class="col-5 p-0 align-self-start">
                <div class="card bg-light border d-flex align-items-stretch">
                  <div class="card-body p-0">
                    <h6 class="card-title text-center pt-3">Games Lost/Forfeited</h6>
                    <% if forfeited_or_lost_games.exists? %>
                      <ul class="list-group align-self-start">
                        <% forfeited_or_lost_games.each do |game| %>
                          <li class="list-group-item border-top rounded-0">
                            <div class="row">
                              <p class="col-8 my-auto dashboard-list-text">You lost to <%= game_opponent(game).username %> on <%= game.updated_at.strftime("%B, %Y") %></p>
                              <%= link_to "See Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    <% else %>
                      <h6 class="text-center mt-1 p-3">You haven't lost a game yet</h6>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>  <!---- this is div for the end of overview -->

    <!---end of overview section /// beginning of current playing games-->
          <div class="tab-pane fade" id="list-current" role="tabpanel" aria-labelledby="list-current-list">
            <div class="row mt-5">
              <div class="col-8 offset-2 justify-content-center">
                <div class="card bg-light border">
                  <div class="card-body p-0">
                    <h6 class="card-title text-center pt-3">Currently Playing Games</h6>
                    <% if in_progress_games.exists? %>
                      <ul class="list-group align-self-start">
                        <% in_progress_games.each do |game| %>
                          <li class="list-group-item border-top rounded-0">
                            <div class="row">
                              <p class="col-8 my-auto dashboard-list-text">You are currently playing <%= game_opponent(game).username %></p>
                              <%= link_to "Resume Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    <% else %>
                      <h6 class="text-center mt-5 p-3">You don't have any current games playing</h6>
                      <div class="row my-3">
                          <div class="col mx-auto text-center">
                            <%= link_to "Play an Open Game", games_path, class: "btn btn-dark btn-sm my-auto list-button" %>
                          </div>
                          <div class="col mx-auto text-center">
                            <%= link_to "Start a New Game", new_game_path, class: "btn btn-dark btn-sm my-auto list-button" %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

     <!---end of current games section /// beginning of all played  games-->
          <div class="tab-pane fade" id="list-played" role="tabpanel" aria-labelledby="list-played-list">
            <div class="row mt-5">
              <div class="col-8 offset-2 justify-content-center">
                <div class="card bg-light border d-flex align-items-stretch">
                  <div class="card-body p-0">
                    <h6 class="card-title text-center pt-3">All Games</h6>
                    <% if @games.exists? %>
                      <ul class="list-group align-self-start">
                        <% @games.each do |game| %>
                          <li class="list-group-item border-top rounded-0">
                            <div class="row">
                              <% if game.state == "won" %>
                                <p class="col-8 my-auto dashboard-list-text">You beat <%= game_opponent(game).username %> on <%= game.updated_at.strftime("%B, %Y") %></p>
                                <%= link_to "See Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                              <% elsif game.state == "lost" %>
                                <p class="col-8 my-auto dashboard-list-text">You lost to <%= game_opponent(game).username %> on <%= game.updated_at.strftime("%B, %Y") %></p>
                                <%= link_to "See Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                              <% elsif game.state == "forfeited" %>
                                <p class="col-8 my-auto dashboard-list-text">You forfeited to <%= game_opponent(game).username %> on <%= game.updated_at.strftime("%B, %Y") %></p>
                                <%= link_to "See Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                              <% elsif game.state == "in progress" %>
                                <p class="col-8 my-auto dashboard-list-text">You are currently playing <%= game_opponent(game).username %>. It is <%= game.user_turn ? "your turn." : "your opponent's turn."%></p>
                                <%= link_to "See Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                              <% elsif game.state == "open" %>
                                <p class="col-8 my-auto dashboard-list-text">You are waiting for an opponent for this game.</p>
                                <%= link_to "See Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                              <% end %>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    <% else %>
                      <h6 class="text-center mt-1 p-3">You haven't started a game yet</h6>
                      <div class="row my-3">
                          <div class="col mx-auto text-center">
                            <%= link_to "Play an Open Game", games_path, class: "btn btn-dark btn-sm my-auto list-button" %>
                          </div>
                          <div class="col mx-auto text-center">
                            <%= link_to "Start a New Game", new_game_path, class: "btn btn-dark btn-sm my-auto list-button" %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

       <!---end of all section /// beginning of open games-->
          <div class="tab-pane fade" id="list-open" role="tabpanel" aria-labelledby="list-open-list">
            <div class="row mt-5">
              <div class="col-8 offset-2 justify-content-center">
                <div class="card bg-light border d-flex align-items-stretch">
                  <div class="card-body p-0">
                    <h6 class="card-title text-center pt-3">Games Open</h6>
                    <% if open_games.exists? %>
                        <% open_games.each do |game| %>
                          <li class="list-group-item border-top rounded-0">
                              <%= link_to "See Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                          </li>
                        <% end %>
                    <% else %>
                      <h6 class="text-center mt-1 p-3">You don't have any open games yet</h6>
                        <div class="row my-3">
                          <div class="col mx-auto text-center">
                            <%= link_to "Play an Open Game", games_path, class: "btn btn-dark btn-sm my-auto list-button" %>
                          </div>
                          <div class="col mx-auto text-center">
                            <%= link_to "Start a New Game", new_game_path, class: "btn btn-dark btn-sm my-auto list-button" %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
        <!---end of open section /// beginning of won games-->
          <div class="tab-pane fade" id="list-won" role="tabpanel" aria-labelledby="list-played-won">
            <div class="row mt-5">
              <div class="col-8 offset-2 justify-content-center">
                <div class="card bg-light border">
                  <div class="card-body p-0">
                    <h6 class="card-title text-center pt-3">Won Games</h6>
                    <% if won_games.exists? %>
                      <ul class="list-group align-self-start">
                        <% won_games.each do |game| %>
                          <li class="list-group-item border-top rounded-0">
                            <div class="row">
                              <p class="col-8 my-auto dashboard-list-text">You beat <%= game_opponent(game).username %> on <%= game.updated_at.strftime("%B, %Y") %></p>
                              <%= link_to "See Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    <% else %>
                      <h6 class="text-center mt-5 p-3">You haven't won a game yet</h6>
                      <div class="row my-3">
                          <div class="col mx-auto text-center">
                            <%= link_to "Play an Open Game", games_path, class: "btn btn-dark btn-sm my-auto list-button" %>
                          </div>
                          <div class="col mx-auto text-center">
                            <%= link_to "Start a New Game", new_game_path, class: "btn btn-dark btn-sm my-auto list-button" %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!---end of won section /// beginning of lost games-->
          <div class="tab-pane fade" id="list-lost" role="tabpanel" aria-labelledby="list-lost-list">
            <div class="row mt-5">
              <div class="col-8 offset-2 justify-content-center">
                <div class="card bg-light border">
                  <div class="card-body p-0">
                    <h6 class="card-title text-center pt-3">Lost Games</h6>
                    <% if lost_games.exists? %>
                      <ul class="list-group align-self-start">
                        <% lost_games.each do |game| %>
                          <li class="list-group-item border-top rounded-0">
                            <div class="row">
                              <p class="col-8 my-auto dashboard-list-text"><%= game_opponent(game).username %> beat you on <%= game.updated_at.strftime("%B, %Y") %></p>
                              <%= link_to "See Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    <% else %>
                      <h6 class="text-center mt-5 p-3">You haven't lost a game yet</h6>
                      <div class="row my-3">
                          <div class="col mx-auto text-center">
                            <%= link_to "Play an Open Game", games_path, class: "btn btn-dark btn-sm my-auto list-button" %>
                          </div>
                          <div class="col mx-auto text-center">
                            <%= link_to "Start a New Game", new_game_path, class: "btn btn-dark btn-sm my-auto list-button" %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>>
          </div>

          <!---end of lost section /// beginning of forfeited games-->
          <div class="tab-pane fade" id="list-forfeited" role="tabpanel" aria-labelledby="list-forfeited-list">
            <div class="row mt-5">
              <div class="col-8 offset-2 justify-content-center">
                <div class="card bg-light border">
                  <div class="card-body p-0">
                    <h6 class="card-title text-center pt-3">Forfeited Games</h6>
                    <% if forfeited_games.exists? %>
                      <ul class="list-group align-self-start">
                        <% forfeited_games.each do |game| %>
                          <li class="list-group-item border-top rounded-0">
                            <div class="row">
                              <p class="col-8 my-auto dashboard-list-text">You forfeited to <%= game_opponent(game).username %> on <%= game.updated_at.strftime("%B, %Y") %></p>
                              <%= link_to "See Game", game_path(game), class: "btn btn-dark btn-sm col-3 my-auto list-button"%>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    <% else %>
                      <h6 class="text-center mt-5 p-3">You haven't forfeited a game yet</h6>
                      <div class="row my-3">
                          <div class="col mx-auto text-center">
                            <%= link_to "Play an Open Game", games_path, class: "btn btn-dark btn-sm my-auto list-button" %>
                          </div>
                          <div class="col mx-auto text-center">
                            <%= link_to "Start a New Game", new_game_path, class: "btn btn-dark btn-sm my-auto list-button" %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </main>
    </div>
  </div>


<script>
new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["Currently Playing", "Games Still Open", "Games Won", "Games Lost", "Games Forefeited"],
      datasets: [
        {
          backgroundColor: ["#3e95cd", "#3cba9f","#e8c3b9","#c45850", "#4AFFC3"],
          data: [<%= in_progress_games.count %>,<%= open_games.count %>,<%= won_games.count %>,<%= lost_games.count %>,<%= forfeited_games.count %>]
        }
      ]
    },
    options: {
      legend: {
        display: true
      }
    }
});
</script>