<div class="dashboard-container">
  <div class="row">
    <div class="col-3 mt-3 ml-3">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <% if !current_user.username.nil? %>
            <h5 class="card-title">Hi <%= current_user.username %></h5>
          <% else %>
            <h5 class="card-title">Hi Player</h5>
          <% end %>


          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center" id="list-played-list" data-toggle="list" href="#list-played" role="tab" aria-controls="played">
              Games Played
              <span class="badge badge-secondary badge-pill"><%= current_user.games.count %></span>
            </a>
            <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center active" id="list-open-list" data-toggle="list" href="#list-open" role="tab" aria-controls="open">
              Games Open
              <span class="badge badge-secondary badge-pill"><%= open_games.count %></span>
            </a>
            <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center" id="list-won-list" data-toggle="list" href="#list-won"  role="tab" aria-controls="won">
              Games Won
              <span class="badge badge-secondary badge-pill"><%= won_games.count %></span>
            </a>
            <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center" id="list-lost-list" data-toggle="list" href="#list-lost"  role="tab" aria-controls="lost">
              Game Lost
              <span class="badge badge-secondary badge-pill"><%= lost_games.count %></span>
            </a>
            <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center" id="list-forfeited-list" data-toggle="list" href="#list-forfeited" role="tab" aria-controls="forfeited">
              Game Forfeited
              <span class="badge badge-secondary badge-pill"><%= forfeited_games.count %></span>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-8 mt-3">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="list-played" role="tabpanel" aria-labelledby="list-played-list">
          <div class="row">
            <% current_user.games.each do |game| %>
              <div class="col-12 col-sm-4 justify-content-center">
                <%# logic here for opponent id/username %>
                <p>this should repeat</p>
                <p class="text-center"><%= game.state.capitalize %></p><br/>
                <%= link_to "Take me to this Game", game_path(game), class: "nav-link"%>
              </div>
              <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="list-open" role="tabpanel" aria-labelledby="list-open-list">
          <div class="row">
            <% open_games.each do |game| %>
              <div class="col-12 justify-content-center">
                <%# logic here for opponent id/username %>
                <p class="text-center"><%= game.state.capitalize %></p><br/>
                <%= link_to "Take me to this Game", game_path(game), class: "nav-link"%>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="list-won" role="tabpanel" aria-labelledby="list-played-won">
          <div class="row">
            <% won_games.each do |game| %>
              <div class="col-12 col-sm-4 justify-content-center">
                <%# logic here for opponent id/username %>
                <p class="text-center"><%= game.state.capitalize %></p><br/>
                <%= link_to "Take me to this Game", game_path(game), class: "nav-link"%>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="list-lost" role="tabpanel" aria-labelledby="list-lost-list">
          <div class="row">
            <% lost_games.each do |game| %>
              <div class="col-12 col-sm-4 justify-content-center">
                <%# logic here for opponent id/username %>
                <p class="text-center"><%= game.state.capitalize %></p><br/>
                <%= link_to "Take me to this Game", game_path(game), class: "nav-link"%>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="list-forfeited" role="tabpanel" aria-labelledby="list-forfeited-list">
          <div class="row">
            <% forfeited_games.each do |game| %>
              <div class="col-12 col-sm-4 justify-content-center">
                <%# logic here for opponent id/username %>
                <p class="text-center"><%= game.state.capitalize %></p><br/>
                <%= link_to "Take me to this Game", game_path(game), class: "nav-link"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>