<!DOCTYPE html>
<html>
  <head>
    <title>Chess For The Adventurous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pusher.com/5.0/pusher.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/50718e42df.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <!-- New Nav-bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-main">
      <%= link_to "", root_path, class: "fas fa-chess-bishop fa-2x navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-link mr-auto">
                <%= link_to "Open Games", games_path, class: "nav-link" %>
              </li>
              <li class="nav-link my-auto" data-toggle="modal" data-target="#newgamemodal" id="new-game-nav-link">
                New Game
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>              
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-link d-inline-flex">
              <%= link_to "My Dashboard", dashboard_path, class: "nav-link"%><p class="my-auto">
            </li>
            <li class="nav-link d-inline-flex">
              </p><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %> 
            </li>
          </ul>
      </div>
    </nav> 

    <!-- Modal -->
    <div class="modal fade" id="newgamemodal" tabindex="-1" role="dialog" aria-labelledby="newgamemodalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newgamemodalTitle">I would like to be...</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="row border-0">
            <% if current_user.present? %>
              
              <div class="col border-0 align-items-center">
                <%= simple_form_for (Game.new), url: games_path do |f| %>
                  <div class="modal-body">
                    <%= f.hidden_field 'user_id', value: current_user.id %>
                    <%= f.hidden_field 'white_player_id', value: current_user.id %>
                    <h5>White Pieces</h5>
                      <%= f.submit 'White', :type => :image, :src => image_path("WhiteKing.png"), class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>

              <div class="col border-0 align-items-center"> 
                <%= simple_form_for (Game.new), url: games_path do |f| %>
                  <div class="modal-body">
                    <%= f.hidden_field 'user_id', value: current_user.id %>
                    <%= f.hidden_field 'black_player_id', value: current_user.id %>
                    <h5>Black Pieces</h5>
                      <%= f.submit 'Black', :type => :image, :src => image_path("BlackKing.png"), class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            <% end %>

          </div>

        </div>
      </div>
    </div>
<!-- Get Flash to work for piece#show controller -->
      <% if flash.present? %>
        <div id="flash"> 
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert"><%= value %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>  
        </body>
      <% end %>


    <%= yield %>
    <script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
  </body>
</html>
